# InsForge Backend configuration
NEXT_PUBLIC_INSFORGE_URL=https://your-project.region.insforge.app
NEXT_PUBLIC_INSFORGE_ANON_KEY=your_anon_key_here

# App URL
NEXT_PUBLIC_APP_URL=http://localhost:3000

# PostHog analytics configuration
NEXT_PUBLIC_POSTHOG_PROJECT_TOKEN=your_posthog_project_token_here
NEXT_PUBLIC_POSTHOG_HOST=https://your-posthog-host

# Open API
OPENAI_API_KEY=

# ADZUNA
ADZUNA_APP_ID=
ADZUNA_APP_KEY=